body {
  background-image: linear-gradient(to bottom right, brown, coral);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock {
  margin: auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;

  &::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 48%;
    left: 48%;
  }
}

.hours,
.seconds,
.minutes {
  background-color: #fff;
  position: absolute;
  top: 50%;
  transform: rotate(90deg);
  transform-origin: 100%;
}

.minutes {
  height: 3px;
  width: 40%;
  left: 10%;
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hours {
  height: 3px;
  width: 30%;
  left: 20%;
}

.seconds {
  height: 1px;
  width: 45%;
  z-index: 500;
  left: 5%;

  &.anim {
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  }
}


.circle-seconds{
  position:absolute;
}

.effect{
  stroke-dasharray:630;
  stroke-dashoffset:0;

  &.anim-circle {
    transition: all 1s linear;
  }
}

.circle-minutes {
  transform: rotate(-90deg);
  z-index: 1000;
  stroke: coral;

  .dashed {
    stroke-dasharray:1000;
    stroke-dashoffset:0;
  }

  .black {
    stroke-dasharray:1000;
    stroke-dashoffset:0;
    z-index: 1000;
  }
}